{% extends "blog/base.html" %}
{% block content %}
   <h1> About this platfrom </h1>
   <p>
     Today many people in our country search for rental houses on foot, knocking
from door to door. Sometimes it’s really hard to get a proper rental house.
It’s very problematic and costly. It really needs a lot of time and affords.
Even it seems very hard in new places. The idea that rental houses can
be searched online is not grasped by many. Nowadays everything is getting
e-based. So why not ‘to-let’?.
   </p>
   <p>
     The idea of "House Renting Solver" solves the house searching problems in
this modern time. The project intends to solve the ‘to-let’ issue by turning
it into a web-based system. The system offers to the users a proper description of ‘to-let’ houses in his located area. Later it will also be available on
the android application
   </p>
{% endblock content %}
